.Login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #ffffff, #dae5ff);
  padding: 20px;
}

.Login-card {
  display: flex;
  width: 900px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
  background: #fff;
}

.Tesg-login-button.loading {
  opacity: 0.8;
  cursor: not-allowed;
}

/* disabled sirf click ke liye, style ke liye nahi */
.Tesg-login-button:disabled {
  pointer-events: none;
}



/* Left Side */
.Login-left {
  flex: 1;
  padding: 40px;
  background: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login-title {
  font-size: 28px;
  font-weight: bold;
  color: #0f172a;
}

.Login-subtitle {
  font-size: 14px;
  color: #64748b;
  margin-bottom: 25px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s;
}

.input-field:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
}

.Whole-Captcha {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.View-Cap {
  padding: 10px 20px;
  background: #e2e8f0;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn-cached {
  margin-left: 10px;
  background: #6366f1;
  border: none;
  color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-cached:hover {
  background: #4f46e5;
}

.Tesg-label-check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #334155;
}

.Tesg-login-button {
  width: 100%;
  padding: 12px;
  background: #6366f1;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.Tesg-login-button:hover {
  background: #4f46e5;
}

/* Right Side */
.Login-right {
  flex: 1;
  background: linear-gradient(135deg, #00eaff, #2a1fff);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.Login-right h2 {
  font-size: 22px;
  margin-top: 20px;
  line-height: 1.5;
}

.Tesg-logo-img {
  width: 150px;
  margin-bottom: 20px;
}

.technobase-text-color {
  color: #fbbf24;
}



.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper .input-field {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
}

.toggle-password {
  position: absolute;
  top: 40%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #64748b;
  transition: color 0.3s;
}

.toggle-password:hover {
  color: #4f46e5;
}

.admin-btn{
  margin-top: 20px;
}