/* EmployeeDirectory.css */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.HRM-employee-directory {
  padding: 2rem;
}

.HRM-search-bar {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: start;
  background-color: #f9f9f9ac;
  box-shadow: 0 0 5px rgba(234, 234, 234, 0.852);
  padding: 25px 20px;
  border-radius: 8px;
}

.HRM-search-bar input,
.HRM-search-bar select {
  padding: 0.8rem 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  min-width: 200px;
  background: #fff;
}

.HRM-search-bar .filter-btn,
.HRM-search-bar .add-employee-btn {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.filter-btn {
  background-color: #00b894;
  color: white;
}

.add-employee-btn {
  background-color: #6c5ce7;
  color: white;
}

.HRM-employee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.HRM-employee-card {
  background-color: white;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
  text-align: center;
  transition: transform 0.3s ease;
}

.HRM-employee-card:hover {
  transform: translateY(-5px);
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.HRM-employee-card h3 {
  margin: 0.5rem 0 0.2rem;
  font-size: 1.2rem;
  color: #2d3436;
}

.HRM-employee-card p {
  color: #636e72;
  font-size: 0.9rem;
}

.social-icons {
  margin: 1rem 0;
  display: flex;

  justify-content: center;
  gap: 0.8rem;
}

.social-icon{
    width: 33px;
    height: 33px;
  background-color: rgb(228, 248, 255);
  border-radius: 50%;
  margin: 8px 0;
  padding: 8px;
  cursor: pointer;
}


.social-icons i {
  font-size: 1.2rem;
  color: #555;
  background-color: #f1f2f6;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background 0.3s;
}

.social-icons i:hover {
  background-color: #dfe6e9;
}

.HRM-card-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.call-btn,
.view-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #dfe6e9;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.call-btn:hover,
.view-btn:hover {
  background-color: #b2bec3;
}
