/* Main Container */
.agent-details-container {
  padding: 30px;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* Title */
.agent-details-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

/* Main Card */
.agent-details-card {
  background: #ffffff;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 30px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

/* Agent Photo */
.agent-details-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #1976d2;
  /* box-shadow: 0px 4px 12px rgba(0,0,0,0.3); */
}

/* Table Styling */
.agent-details-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}


.delete-agent-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.delete-agent-btn:hover {
  background-color: #c62828;
}


/* Left Column */
.agent-details-table th {
  text-align: left;
  background: #1976d2;
  padding: 14px;
  width: 220px;
  color: white;
  font-weight: 600;
  border-bottom: 1px solid #0d47a1;
  border-right: 3px solid #0d47a1;
}

/* Right Column */
.agent-details-table td {
  padding: 14px;
  background: #f9f9f9;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

/* Fade Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* Hover Effect */
.agent-details-card:hover {
  transform: translateY(-3px);
  transition: 0.25s ease-in-out;
  /* box-shadow: 0px 10px 28px rgba(0,0,0,0.15); */
}


.agent-stats-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
  right: 40px;
  position: absolute;
}

.stat-box {
  flex: 1;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #fff;
  padding: 20px  30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-5px);
}

.stat-box h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.stat-box p {
  font-size: 14px;
  opacity: 0.9;
  letter-spacing: 0.5px;
  color: white !important;
}
