/* Reset & Base */
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  color: #333;
}

/* Toolbar Section */
.Allagent-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 16px 24px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.Agent-search-box {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 6px 12px;
  width: 250px;
  max-width: 100%;
}

.Agent-search-icon {
  font-size: 18px;
  margin-right: 8px;
  color: #6b7280;
}

.Agent-search-box input {
  border: none ;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #333;
}

.toolbar-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.toolbar-buttons button {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #282828;
}

.toolbar-buttons button:hover {
  background-color: #f0f0f0;
}

.add-lead-btn {
  background-color: #ef4444;
  color: white;
  border: none;
}

.add-lead-btn:hover {
  background-color: #dc2626;
}

/* Agent Section */
.Allagent-agent-page {
  padding: 0 24px 40px;
}

.agent-page h1 {
  font-size: 28px;
  margin-bottom: 24px;
  font-weight: 600;
  color: #1f2937;
  text-align: left;
}

/* Cards Grid */
.Allagent-agent-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* Individual Card */
.Allagent-agent-card {
  border: 1.5px solid rgb(182, 182, 182);
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.Allagent-agent-card:hover {
  transform: translateY(-6px);
}

.Allagent-agent-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.Allagent-agent-info {
  padding:  8px 16px;
  text-align: left;
}

.Allagent-agent-info h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.Allagent-agent-info p {
  margin: 4px 0;
  font-size: 14px;
  color: #4b5563;
}


.Allagent-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.Allagent-modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  width: 90%;
  max-width: 500px;
}

.Allagent-close-button {
  position: absolute;
  top: 12px;
  right: 14px;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}
