.lead-file-uploader {
    width: 100%;
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .lead-upload-area {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    position: relative;
  }
  
  .lead-upload-area p {
    font-size: 16px;
    margin: 0;
  }
  
  .lead-upload-area span {
    color: #007bff;
    cursor: pointer;
  }
  
  .lead-browse-btn {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
  
  .lead-file-status {
    margin: 10px 0;
    text-align: left;
  }
  
  .lead-progress-bar {
    width: 100%;
    background: #eee;
    height: 8px;
    border-radius: 4px;
    margin-top: 4px;
    overflow: hidden;
  }
  
  .lead-progress {
    height: 100%;
    background: #007bff;
    transition: width 0.3s ease;
  }
  
  .lead-success {
    color: green;
  }
  
  .error {
    color: red;
  }
  

  .upload-icon {
  width: 220px;
  margin-bottom: 10px;
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.lead-upload-area:hover .upload-icon {
  opacity: 1;
}


.btn-goto-home{
  padding: 14px  20px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 24px;
  cursor: pointer;
}



.notification-icon {
  position: fixed;
  top: 16px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.notification-dot {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
}

/* Popup animation */
.followup-popup {
  position: fixed;
  top: 80px;
  right: -340px;
  width: 300px;
  background: #111827;
  color: white;
  padding: 16px;
  border-radius: 8px 0 0 8px;
  animation: slideIn 0.5s forwards;
  z-index: 9999;
}

@keyframes slideIn {
  to {
    right: 0;
  }
}
